<form action="/users/login" class="form-signin" method="POST">
    <h2>Login:</h2>

    <label for="txtEmail">Email</label>
    <input type="email" name="email" id="txtEmail" class="form-control" placeholder="Email" required autofocus>

    <label for="txtPassword">Password</label>
    <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password" required>

    <br>
    <button type="submit" class="btn btn-lg btn-primary">Log in</button>

</form>